{% extends "django_registration/base.html" %}

{% block content %}
  <div class="container mt-5">
    <button type="submit" class="btn btn-primary" id="submitBtn">Subscribe</button>
  </div>
{% endblock %}
