
{% extends "django_registration/base.html" %}
{% load widget_tweaks %}

{% block content %}
  <h2 class="text-center">User Registration</h2>
  <div class="container-fluid d-flex flex-column bd-highlight mb-3">
    <form method="post">
      {% csrf_token %}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      <div class="row">
      </div>
      {% for field in form.visible_fields %}
        <div class="form-group">
          <label for="exampleInputEmail1">{{ field.label_tag }}</label>
          <div class="col-sm-6">
            {% render_field field class="form-control" %}
            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
        </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
